@keyframes flipIn {
    0% {
        opacity: 0;
        transform: rotateY(90deg) rotateZ(30deg);
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg) rotateZ(30deg);
    }
}

.logo-container {
    z-index: 0;
    width: 400px;
    height: 609px;
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left: auto;
    margin: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.logo-container.visible {
    opacity: 1;
}

.solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 100%;
    opacity: 0;
    transform: rotateY(90deg) rotateZ(30deg);
    z-index: 1;
}

.solid-logo.visible {
    opacity: 1;
    animation: flipIn 2s forwards;
}
