html, body {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(to bottom, black, #022c43) !important;
  overflow: hidden;
  display: block;
  font: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

