name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.RANGEL_SSH_KEY }}

      - name: Copy files to EC2
        run: |
          rsync -avz -e "ssh -o StrictHostKeyChecking=no" --exclude '.git*' ./ ec2-user@your-elastic-ip:~/react-portfolio/

      - name: Install dependencies and restart PM2
        run: |
          ssh -o StrictHostKeyChecking=no ec2-user@your-elastic-ip <<EOF
          cd ~/react-portfolio
          npm install
          npm run build
          pm2 restart rangel-portfolio
          EOF
